<h1>All URLs</h1>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="urls">
  <thead>
    <tr>
      <th>URL</th>
      <th>Shorted URL</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of urls | async">
      <td>{{ url.originalUrl }}</td>
      <td>{{ url.shortUrl }}</td>
      <td>
        <button routerLink="/url-info" [state]="url">Info</button
        ><button type="button" (click)="delete(url)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
